<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds" debug="true">
    <property name="LOG_DIR" value="/data/logs"/>
    <property name="PROJECT_NAME" value="tracker"/>
    <property name="log.com.xxytech" value="INFO"/>
    <property name="log.root.level" value="WARN"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p [%file:%line] - %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/${PROJECT_NAME}_info.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p [%file:%line] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${PROJECT_NAME}/${PROJECT_NAME}_info_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/${PROJECT_NAME}_error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5p [%file:%line] - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/${PROJECT_NAME}/${PROJECT_NAME}_error_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="INFO_FILE"/>
        </root>
        <logger name="com.xxytech" level="DEBUG"/>
    </springProfile>
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="INFO_FILE"/>
        </root>
        <logger name="com.xxytech" level="DEBUG"/>
    </springProfile>
    <springProfile name="staging, prod">
        <root level="WARN">
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
        <logger name="com.xxytech" level="INFO"/>
    </springProfile>
</configuration>